<div id="DetailBubble" ng-style="{'top' : calculateDetailTop()}">
    <div id="DetailNavBar" ng-include="'../Detail/detailNavigationBar.html'"></div>
    <div id="DetailContent" ng-if="Details.Name!='Loading...'">
        <div class="DetailBuffer"></div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label for="CategoryName">Category&nbsp;Name</label>
            </div>
            <div class="detail-field">
                <input type="text" ng-model="Details.Name" id="CategoryName">
            </div>
        </div>

        <div class="detail-field-group">
            <div class="detail-label">
                <label for="AccrueBy">Accrue&nbsp;By</label>
            </div>
            <div class="detail-field">
                <select id="AccrueBy" ng-model="Details.AccrueBy">
                    <option value="0">Flat Amount</option>
                    <option value="1">Individual Percent</option>
                    <option value="2">Group Percent</option>
                    <option value="3">Calculated Amounts</option>
                </select>
            </div>
        </div>

        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>
        <div class="detail-field-group">
            <div class="detail-label">
                <label>Option</label>
            </div>
            <div class="detail-field">
                <input type="text">
            </div>
        </div>

        <div class="detail-field-group">
            <div class="detail-label">
                <label>Target&nbsp;Date(s)</label>
            </div>
            <div class="detail-field" ng-include="'../../../Common/Views/DateRulePicker.html'"></div>
        </div>
    </div>
</div>