#ApplicationContainer{
    background-color: #FFFFFF;
    min-height:100vh;
}

@media(min-width:600px){
    #ApplicationContainer{
        position:fixed;
        border-right: solid 1px #000000;
    }
}

@media(max-width:599px){
    .ApplicationContentContainer {
        padding-top: 40px;
    }
}