#DetailBubble {
    min-height: 70px;
}

#DetailContent{
    padding:10px;
    text-align: center;
}

#DetailContent .detail-label label {
    font-size: medium;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

#DetailContent .labelContainer {
    margin-top: 8px;
    font-size: small;
}

#DetailContent input, #DetailContent select {
    height: 25px;
    font-size: medium;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
    border: 0;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#DetailContent select option {
    text-align: left;
}

#DetailContent input:focus, #DetailContent select:focus{
    outline: 0;
    box-shadow: inset 0 0 5px #ABABAB;
}

.detail-field-group{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #EFEFEF;
}

@media(max-width:599px){
    #DetailContainer{
        z-index:6;
        position:fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background-color:#FFFFFF;
    }

    #DetailContent{
        overflow-y:scroll;
        height:100%;
    }

    .DetailBuffer {
        height:40px;
    }

    #DetailNavBar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media(min-width:600px) {
    #DetailBubble{
        margin:2px;
        margin-right:0;
        border-radius:10px;
        border:solid 1px;
        position:relative;
        background-color: #FFFFFF;
    }
}