<div ng-if="!Mobile || root.ApplicationView!='Categories'">
    <div id="NavigationContainer" ng-include="'../Application/applicationNavigationBar.html'">
    </div>
    <div class="ApplicationContentContainer" id="ApplicationReportsContainer" ng-if="root.ApplicationView == 'Reports'" ng-include="'../Application/indexApplicationReports.html'">
    </div>
    <div class="ApplicationContentContainer" id="ApplicationDistributeContainer" ng-if="root.ApplicationView == 'Distribute'" ng-include="'../Application/indexApplicationDistribute.html'">
    </div>
    <div class="ApplicationContentContainer" id="ApplicationBankContainer" ng-if="root.ApplicationView == 'Bank'" ng-include="'../Application/indexApplicationBank.html'">
    </div>
</div>