<div class="NavBar">
    <div class="ListButtonContainer" ng-if="Mobile" ng-click="root.ApplicationView = 'Reports'" click-off="root.ShowFirstMenu=false"><img class='not-border-box ListButton' ng-src="../../../ico/list.png"/></div>
    <div class="NavDisplayCategory">Categories</div>
    <div class="ListButtonContainer-right" ng-click="root.ShowSecondMenu=!root.ShowSecondMenu;root.ShowFirstMenu=false;" click-off="root.ShowSecondMenu=root.ShowSecondMenu"><img class="not-border-box ListButton-right" ng-src="../../../ico/plus-icon.png"/></div>
</div>
<div ng-if="root.ShowFirstMenu" class="slide-toggle-if PopupContainer FirstPopupContainer">
    <div class="NavButton" ng-click="root.ApplicationView = 'Reports'; root.ShowFirstMenu=false">
        Reports
    </div>
    <div class="NavButton" ng-click="root.ApplicationView = 'Distribute'; root.ShowFirstMenu=false">
        Distribute
    </div>
    <div class="NavButton" ng-click="root.ApplicationView = 'Bank'; root.ShowFirstMenu=false">
        Bank
    </div>
    <div class="NavButton" ng-if='Mobile' ng-click="root.ApplicationView = 'Categories'; root.ShowFirstMenu=false">
        Categories
    </div>
</div>

<div ng-if="root.ShowSecondMenu" class="slide-toggle-if PopupContainer SecondPopupContainer">
    <div class="NavButton">
        <input type="text" ng-model="newCategory.Name">
        <button ng-click="addNewCategory()">Add Category</button>
    </div>
</div>